<a href="javascript:void(0);" (click)="teste1()">teste1()</a><br />
<a href="javascript:void(0);" (click)="teste2()">teste2()</a><br />
<a href="javascript:void(0);" (click)="teste3()">teste3()</a><br />
<a href="javascript:void(0);" (click)="teste4()">teste4()</a><br />
<a href="javascript:void(0);" (click)="teste5()">teste5()</a><br />
<a href="javascript:void(0);" (click)="teste6()">teste6()</a><br />

<a href="javascript:void(0);" (click)="teste7()">teste7()</a><br />


<br />
<input type="radio"
[checked]="itemDataTree.selecionado"
(change)="clickLabel(itemDataTree, false)"/>
{{itemDataTree.texto}}
<br />
