a {
    text-decoration: none;
    color: black;
}

.sec_acoes {
    display: flex;
    width: 100vw;
}

.sec_acoes div {
    justify-content: space-between;
    margin-left: 30px;
}

/* ------------------------------------------------ */

.input_filter_tree {
    background: url(../../../assets/imagens_action/search.svg) no-repeat scroll 8px 8px;
    background-size: 10px 10px;
    padding: 4pt;
    padding-left: 30px;
    box-sizing: border-box;
    border: 1pt solid black;
    border-radius: 4px;
    outline: none;
    width: 300px;
}

.div_tree_simpledata {
    width: 500px;
    height: 400px;
    overflow: auto;
    scroll-behavior: auto;

    padding-right: 3em;
    padding-bottom: 1em;
    margin-left: -30px;
}