<ng-template [ngIf]="hasData">
    <ul *ngFor="let item of dados; trackBy: trackItem" class="tree_two_little">
        <li>
            <img [src]="getImg(item)" (click)="clickImg(item)" [class]="getImgClass(item)">
            <label (click)="clickLabel(item)">
                <input type="checkbox" [checked]="item.selecionado" (change)="checkValue(item)" *ngIf="ExibirCheckBox">
            </label>
            <a href="javascript:void(0)" (click)="clickLabel(item,  true)" class="tree_item_text_a">{{item.texto}}</a>
            <img src="../../../assets/tree_imagens/Spinner-0.9s-68px.gif" style="width: 10px;" *ngIf="item.isLoading">
        </li>
        <ng-template [ngIf]="item.temFilhos() && item.aberto">
            <app-arvore-simple-recursive
                [dados]="item.filhos" 
                [ExibirCheckBox]="ExibirCheckBox" 
                [ControlarSelecionados]="ControlarSelecionados"
                [multiplaSelecao]="multiplaSelecao"
                (clearAllSel)="clearAllSelEvent()"
            ></app-arvore-simple-recursive>
        </ng-template>
    </ul>
</ng-template>