<input type="text" (change)="pesquisarArvore($event)" (keyup)="onKeyupEvent($event)" class="input_filter_tree" /><br /><br />


<!-- [dados]="data$ | async" -->

<div class="div_tree_simpledata">
    <app-arvore-simple-data
        id="tree_simple"
        [ExibirCheckBox]="true"
        [ControlarSelecionados]="true"
        [multiplaSelecao]="true"
        #tree_simple
    ></app-arvore-simple-data>
</div>



<br /><br />

<section class="sec_acoes">
    <div>
        <a href="javascript:void(0);" (click)="getMapSelecionados()">
            <img src="../../../assets/imagens_action/recuperar_selecionados.svg" alt="Get selecionados map"
                style="width: 13px;">
            Get selecionados map
        </a><br />
        <a href="javascript:void(0);" (click)="getIdSelecionados()">
            <img src="../../../assets/imagens_action/recuperar_selecionados.svg" alt="Get selecionados Id"
                style="width: 13px;">
            Get selecionados Id
        </a><br />
        <a href="javascript:void(0);" (click)="getSelecionadosServico()">
            <img src="../../../assets/imagens_action/get_sel_service.svg" alt="Get selecionados Service" style="width: 13px;">
            Get selecionados Service
        </a>
    </div>
    <div>
        <a href="javascript:void(0);" (click)="limparSelecao()">
            <img src="../../../assets/imagens_action/list_clear_sel.svg" alt="Limpar Seleção" style="width: 13px;">
            Limpar Selecao
        </a><br />
        <a href="javascript:void(0);" (click)="selecionarTodos()">
            <img src="../../../assets/imagens_action/list_sel_all.svg" alt="Selecionar todos" style="width: 15px;">
            Selecionar Todos
        </a><br />
        <a href="javascript:void(0);" (click)="selecionarIds()">
            <img src="../../../assets/imagens_action/list_sel_alguns.svg" alt="Selecionar alguns" style="width: 15px;">
            Selecionar Alguns
        </a><br /><br />

        <a href="javascript:void(0);" (click)="limparData()">
            <img src="../../../assets/imagens_action/clear.svg" alt="Limpar" style="width: 13px;">
            Limpar
        </a>
    </div>
    <div>
        <a href="javascript:void(0);" (click)="loadInitialData()">
            <img src="../../../assets/imagens_action/load_initial_data.svg" alt="Load Inicial" style="width: 13px;">
            Load Inicial
        </a><br />
        <a href="javascript:void(0);" (click)="loadAll()">
            <img src="../../../assets/imagens_action/load_all.svg" alt="Load All" style="width: 13px;">
            Load All
        </a><br />
        <a href="javascript:void(0);" (click)="loadAllTree()">
            <img src="../../../assets/imagens_action/load_all.svg" alt="Load All Tree" style="width: 13px;">
            Load All Tree
        </a><br><br>

        <a href="javascript:void(0);" (click)="collapseTree()">
            <img src="../../../assets/imagens_action/collapse.svg" alt="Collapse" style="width: 13px; margin-top: 5pt;">
            Collapse
        </a>
        <a href="javascript:void(0);" (click)="expandTree()">
            <img src="../../../assets/imagens_action/expand.svg" alt="Collapse" style="width: 13px; margin-top: 5pt;">
            Expand
        </a>
    </div>
</section>



<br /><br />
{{getSelecionadosServicoItemSelecionado()}}
<br /><br />