<ng-template [ngIf]="hasData">
    <ul class="tree_two_little">
        <ng-container *ngTemplateOutlet="Recursion; context:{ list: dados}"></ng-container>
    </ul>

    <ng-template #Recursion let-list="list">
        <li *ngFor="let item of list">
            <img [src]="getImg(item)" (click)="clickImg(item)">
            <input type="checkbox" [checked]="item.selecionado" (change)="clickLabel(item, true)" *ngIf="ExibirCheckBox">
            <a href="javascript:void(0)" (click)="clickLabel(item, false)" class="tree_item_text_a">{{item.texto}}</a>
            <img src="../../../../assets/tree_imagens/Spinner-0.9s-68px.gif" style="width: 10px;" *ngIf="item.isLoading">

            <ul *ngIf="item.temFilhos() && item.aberto" class="tree_two_little">
                <ng-container *ngTemplateOutlet="Recursion; context:{ list: item.filhos }"></ng-container>
            </ul>
        </li>
    </ng-template>
</ng-template>