.tree_two_little {
    font-family: 'Rawline','Raleway',sans-serif;
    font-size: 1em;
    margin: 0;
    cursor: pointer;
}
.tree_two_little ul {
    padding-inline-start: 30px;
}
.tree_two_little li {
    font-size: 12px;
    list-style: none;
    padding-top: 0.08em;
    padding-bottom: 0.08em;
}
.tree_two_little input[type="checkbox"]{
    width: 0.8em;
    height: 0.8em;
}

.tree_two_little li img {
    width: .7em;
    padding: 1pt;
    margin: 0;
}

.tree_item_text_a {
    color: black;
    text-decoration: none;
    /* white-space: nowrap;
    overflow: hidden; */
}