<ng-template [ngIf]="hasData">
    <ul class="tree_two_little">
        <ng-container *ngTemplateOutlet="Recursion; context:{ list: dados}"></ng-container>
    </ul>

    <ng-template #Recursion let-list="list">
        <li *ngFor="let item of list">
            <img [src]="getImg(item)" (click)="clickImg(item)">

            <ng-template [ngIf]="ModoSelecao === EModoSelecao.RadioButton">
                <input type="radio" [checked]="item.selecionado" (change)="clickLabel(item, false, true)"/>
                <a href="javascript:void(0)" (click)="clickLabel(item, false, true)" class="tree_item_text_a">{{item.texto}}</a>
            </ng-template>
            <ng-template [ngIf]="ModoSelecao === EModoSelecao.CheckBox">
                <input type="checkbox" [checked]="item.selecionado" (change)="clickLabel(item, true, false)">
                <a href="javascript:void(0)" (click)="clickLabel(item, false, false)" class="tree_item_text_a">{{item.texto}}</a>
            </ng-template>
            <ng-template [ngIf]="ModoSelecao === EModoSelecao.Nenhum">
                {{item.texto}}
            </ng-template>
            <img src="../../../../assets/tree_imagens/Spinner-0.9s-68px.gif" style="width: 10px;" *ngIf="item.isLoading">

            <ul *ngIf="item.temFilhos() && item.aberto" class="tree_two_little">
                <ng-container *ngTemplateOutlet="Recursion; context:{ list: item.filhos }"></ng-container>
            </ul>
        </li>
    </ng-template>
</ng-template>