<button (click)="toggle()">
    Mostrar modal
</button>

<br /><br />
{{getSelecionadosServicoItemSelecionado()}}
<br /><br />

<ng-container *ngIf="mostrar">
    <div class="modal">
        <ul class="ul_itens_tree">
            <li>
                <input type="text" (keyup)="pesquisarArvore($event)" class="input_filter_tree" />
            </li>
            <li>
                <a href="javascript:void(0);" (click)="limparSelecao()">
                    <img src="../../../assets/imagens_action/list_clear_sel.svg" alt="Limpar Seleção" style="width: 13px; margin-top: 5pt;">
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" (click)="selecionarTodos()">
                    <img src="../../../assets/imagens_action/list_sel_all.svg" alt="Selecionar todos" style="width: 17px; margin-top: 3pt;">
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" (click)="loadAllTree()">
                    <img src="../../../assets/imagens_action/load_all.svg" alt="Load All Tree" style="width: 13px; margin-top: 5pt;">
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" (click)="collapseExpandTree()">
                    <img src="../../../assets/imagens_action/{{estadoColapse?'expand':'collapse'}}.svg" alt="Collapse" style="width: 13px; margin-top: 5pt;">
                </a>
            </li>
        </ul>

        <div class="div_tree_simpledata">
            <app-arvore-simple-recursive 
                [ExibirCheckBox]="true" 
                [ControlarSelecionados]="true" 
                [multiplaSelecao]="true"
                #tree_simple
            ></app-arvore-simple-recursive>
        </div>

        <button (click)="toggle();">ok</button>
    </div>
    <div (click)="toggle()" class="overlay" *ngIf="showOverlay && mostrar"></div>
</ng-container>