<button (click)="toggle()">
    Mostrar modal
</button>

<br /><br />
{{getSelecionadosServicoItemSelecionado()}}
<br /><br />

<ng-container *ngIf="mostrar">
    <div class="modal">
        <div class="div_tree_simpledata">
            <app-arvore-simple-data 
                [ExibirCheckBox]="true" 
                [ControlarSelecionados]="true" 
                [multiplaSelecao]="true"
                [modal_style]="true"
                #tree_simple
            ></app-arvore-simple-data>
        </div>

        <button (click)="toggle();">Fechar</button>
    </div>
    <div (click)="toggle()" class="overlay" *ngIf="showOverlay && mostrar"></div>
</ng-container>