/* MODAL */
.modal {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px #333;
    min-width: 320px;
    position: fixed;
    left: 50%;
    padding: 24px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;

    max-width: 520px;
    min-height: 100px;
    max-height: 100px;
    min-width: 320px;
    max-height: 90vmax;
    /* overflow-y: scroll; */
    overflow: hidden;
}

.overlay {
    background: #000;
    height: 100vh;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}
/* #END MODAL */

.input_filter_tree {
    background: url(../../../assets/imagens_action/search.svg) no-repeat scroll 8px 8px;
    background-size: 10px 10px;
    padding: 4pt;
    padding-left: 30px;
    box-sizing: border-box;
    border: 1pt solid black;
    border-radius: 4px;
    outline: none;
    width: 300px;
}

.div_tree_simpledata {
    width: 500px;
    height: 400px;
    overflow: auto;
    scroll-behavior: auto;

    padding-right: 3em;
    padding-bottom: 1em;
    margin-left: -40px;
    margin-bottom: 2em;
}

.ul_itens_tree {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.ul_itens_tree li {
    padding-right: 5pt;
}