<button (click)="toggle()">
    Mostrar modal
</button>

<br /><br />
{{selecionados}}
<br /><br />

<div [hidden]="!mostrar">
    <div class="modal">
        <ul class="ul_itens_tree">
            <li>
                <input 
                    type="text" 
                    class="input_filter_tree" 
                    [(ngModel)]="filtroInput" 
                    name="filtroInput" id="filtroInput"
                    (ngModelChange)="this.filtroInputUpdate.next($event)"
                />
            </li>
            <li>
                <a href="javascript:void(0);" (click)="limparSelecao(true)">
                    <img src="../../../assets/imagens_action/list_clear_sel.svg" alt="Limpar Seleção" style="width: 13px; margin-top: 5pt;">
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" (click)="selecionarTodos()">
                    <img src="../../../assets/imagens_action/list_sel_all.svg" alt="Selecionar todos" style="width: 17px; margin-top: 3pt;">
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" (click)="loadAllTree()">
                    <img src="../../../assets/imagens_action/load_all.svg" alt="Load All Tree" style="width: 13px; margin-top: 5pt;">
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" (click)="collapseExpandTree()">
                    <img src="../../../assets/imagens_action/{{estadoColapse?'expand':'collapse'}}.svg" alt="Collapse" style="width: 13px; margin-top: 5pt;">
                </a>
            </li>
        </ul>

        <div class="div_tree_simpledata">
            <app-tree-simple 
                [ExibirCheckBox]="true"
                [MultiplaSelecao]="true"
                (ClickItem)="onclickitem($event)"
                (EventFilhoAdd)="eventfilhoadd($event)"
                #tree_simple
            ></app-tree-simple>
        </div>

        <button (click)="toggle();">ok</button>
    </div>
    <div (click)="toggle()" class="overlay" *ngIf="showOverlay && mostrar"></div>
</div>